<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Matthew Mingus">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Matthew Mingus professional website">
    <title>Matthew Mingus</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()" style="font-family: Arial">
    <header>
        <h1 id="webname">Matthew Mingus</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="cv.html">CV</a></li>
                <li><a href="contact.html">Contact me</a></li>
                <li><a href="fun.html">For fun</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="mainLayout">
        <div class="item1">
            <h2>Find Me</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.921769385432!2d-79.94336699592377!3d40.444038427743685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f2216690cfad%3A0x905326e250d9a94c!2s4800%20Forbes%20Ave%2C%20Pittsburgh%2C%20PA%2015213!5e0!3m2!1sen!2sus!4v1742410999901!5m2!1sen!2sus" 
                    width="300" 
                    height="400" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        
        <div class="item2">
            <h2>Contact Me</h2>
            <form id="contact-form">            
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="username" name="name" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="comment">Comment:</label>
                    <textarea id="text" name="comment" required></textarea>
                </div>
                <div>
                    <input type="submit" value="Submit" onclick="validateForm()">
                </div>
            </form>

            <p id="validation-message"></p>
            
            <h3>My Contact Information</h3>
            <table border="1">
                <tr>
                    <th>Contact Method</th>
                    <th>Details</th>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>mmingus@andrew.cmu.edu</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>(334) 549-9456</td>
                </tr>
                <tr>
                    <td>LinkedIn</td>
                    <td>https://www.linkedin.com/in/mmingus/</td>
                </tr>
            </table>
        </div>
    </div>
    
    <footer>
        <p> <span id="copyYear"></span> Matthew Mingus.</p>
    </footer>
</body>
</html>