* {
    font-family: 'Roboto', Arial, sans-serif;
    padding: 5px;
    margin: 5px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "GRAD" 0, "slnt" 0;
}

#webname {
    background-color: #cacaca;
}

nav a {
    text-decoration: none;
    color: #000000;
    margin-right: 15px;
}

/* step 7 */
th {
    padding: 12px 0;
    background-color: #9b9b9b;
    color: rgb(0, 0, 0);
    width: fit-content;
}
tr:nth-child(even) {
    background-color: #d5d5d5;
}

/* step 8 */
form * {
    display: block;
    margin: auto;
    text-align: center;
}

/* styling for tables */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0;
}
