<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Matthew Mingus">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Matthew Mingus professional website">
    <title>Matthew Mingus</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()" style="font-family: Arial">
    <header>
        <h1 id="webname">Matthew Mingus</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="cv.html">CV</a></li>
                <li><a href="contact.html">Contact me</a></li>
                <li><a href="fun.html">For fun</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Education</td>
                <td>Carnegie Mellon University, Heinz College</td>
            </tr>
            <tr>
                <td>Skills</td>
                <td>Ruby on Rails, JavaScript, Python</td>
            </tr>
            <tr>
                <td>Experience</td>
                <td>Heinz College Undergraduate Student Researcher.</td>
            </tr>
            <tr>
                <td>Projects</td>
                <td>C0VM</td>
            </tr>
        </table>
        <p><a href="../static/Matthew Mingus RESUME.pdf">Download my resume (PDF)</a></p>
    </div>
    
    <footer>
        <p> <span id="copyYear"></span> Matthew Mingus.</p>
    </footer>
</body>
</html>